{{! Copyright (c) Mark Voortman - mark@voortman.name. All rights reserved. Licensed under the MIT license. See LICENSE.txt in the project root for license information.}}
<h2 id="header">Portfolio</h2>
<div id="menu"></div>
<hr id="hr1">
<div id="content"></div>
<hr id="hr2">

<script>
 var URLPARAMS = null;
 var EMAIL = null;
 
 function save(alldata, cb) {
   $.ajax({
     type: "POST",
     url: "/save_data?email=" + EMAIL,
     data: {
       data: JSON.stringify(alldata)
     }
   }).done(function(data) {
     if (data.error) {
       console.log(JSON.stringify(data.error));
       alert(JSON.stringify(data.error));
     }
     else {
       if (cb) {
         cb();
       }
       else {
         portfolios(alldata);
       }
     }
   }).fail(fail);
 }
 
 function portfolios(alldata) {
   $("#menu").empty();
   $("#content").empty();
   var a = $("<a>");
   $("#menu").append(a);
   a.addClass("btn btn-primary btn-sm");
   a.attr("href", "javascript:");
   a.append("New");
   a.click(function() {
     selecttemplate(alldata);
   });
   if (!alldata.portfolios || !alldata.portfolios.length) {
     $("#content").append("Please click on New above to create a portfolio.");
   }
   else {
     $.ajax({
       type: "GET",
       url: "/load_templates?" + Date.now()
     }).done(function(data) {
       if (data.error) {
         alert(data.error);
       }
       else {
         $("#content").append("<b>Portfolios for Summer 2021 graduates are due Friday, August 27th.<br>Portfolios for Fall 2021 graduates are due Friday, December 17th.<br></b>");
         $("#content").append("<hr>");
         $("#content").append("<b>IMPORTANT</b>: Please click on <b>Edit</b> below to continue working on your portfolio.");
         $("#content").append("<hr>");
         for (var i = 0; i < alldata.portfolios.length; i++) {
           (function(i) {
             if (i) {
               $("#content").append("<hr>");
             }
             var a = $("<a>");
             $("#content").append(a);
             a.addClass("btn btn-outline-primary btn-sm");
             a.attr("href", "javascript:");
             a.append("Edit");
             a.click(function() {
               selecttemplate(alldata, alldata.portfolios[i]);
             });
             $("#content").append(" ");
             var a = $("<a>");
             $("#content").append(a);
             a.addClass("btn btn-outline-danger btn-sm");
             a.attr("href", "javascript:");
             a.append("Delete");
             a.click(function() {
               if (confirm("Are you sure you want to delete this item?")) {
                 alldata.portfolios.splice(i, 1);
                 save(alldata);
               }
             });
             var info = alldata.portfolios[i].info || {};
             var template = null;
             for (var j = 0; j < data.templates.length; j++) {
               if (data.templates[j].id === alldata.portfolios[i].info.Template) {
                 template = data.templates[j];
                 break;
               }
             }
             if (template === null) {
               alert("Cannot find template!");
             }
             $("#content").append(" " + template.info.Name + " created on " + info.CreationDate);
           })(i);
         }
       }
     });
   }
 }
 
 function selecttemplate(alldata, portfolio) {
   if (!portfolio) {
     portfolio = {
       info: {
         CreationDate: new Date().toLocaleString()
       }
     };
     if (!alldata.portfolios) {
       alldata.portfolios = [];
     }
     alldata.portfolios.push(portfolio);
   }
   if (!alldata.info) {
     alldata.info = {};
   }
   $("#menu").empty();
   $("#content").empty();
   if (portfolio.info.Template) {
     goedit(alldata, portfolio);
   }
   else {
     $.ajax({
       type: "GET",
       url: "/load_templates?" + Date.now()
     }).done(function(data) {
       if (data.error) {
         alert(data.error);
       }
       else {
         for (var i = 0; i < data.templates.length; i++) {
           (function(i) {
             if (i) {
               $("#content").append("<hr>");
             }
             var a = $("<a>");
             $("#content").append(a);
             a.addClass("btn btn-primary btn-sm");
             a.attr("href", "javascript:");
             a.append(data.templates[i].info.Name);
             a.click(function() {
               portfolio.info.Template = data.templates[i].id;
               goedit(alldata, portfolio);
             });
           })(i);
         }
       }
     });
   }
 }
 
 function goedit(alldata, portfolio) {
   $.ajax({
     type: "GET",
     url: "/load_templates?" + Date.now()
   }).done(function(data) {
     if (data.error) {
       alert(data.error);
     }
     else {
       var template = null;
       for (var i = 0; i < data.templates.length; i++) {
         if (data.templates[i].id === portfolio.info.Template) {
           template = data.templates[i].template;
           break;
         }
       }
       if (template === null) {
         alert("Cannot find template!");
       }
       // fill in personal info
       for (var key in alldata.info) {
         var regexp = new RegExp("\{{"+key+"}}", "g");
         template = template.replace(regexp, alldata.info[key]);
       }
       // fill in course info
       if (portfolio.info) {
         for (var key in portfolio.info) {
           var regexp = new RegExp("\{{"+key+"}}", "g");
           template = template.replace(regexp, portfolio.info[key]);
         }
       }
       if (!portfolio.fields) {
         portfolio.fields = {};
       }
       var data = [];
       var parts = template.split("\{{");
       for (var i = 1; i < parts.length; i++) {
         var property = parts[i].substr(0, parts[i].indexOf("}}"));
         if (property.startsWith("Week") && property.endsWith("Date")) {
           // do not add
         }
         else {
           if (!portfolio.fields[property]) {
             portfolio.fields[property] = "";
           }
           var idx = template.indexOf("\{{"+property+"}}");
           var usetextarea = idx === 0 || (idx > 0 && template[idx-1] === "\n")
           data.push({
             property: property,
             value: portfolio.fields[property],
             usetextarea: usetextarea,
             usefileupload: property.indexOf("File") !== -1
           });
         }
       }
       edit(alldata, portfolio, template, data, portfolio.fields, 0);
     }
   }).fail(fail);
 }
 
 function edit(alldata, portfolio, origtemplate, data, fields, idx) {
   $("#menu").empty();
   $("#content").empty();
   $("#content").append('<div id="buttons"></div><div id="output"></div>');
   
   var a = $("<a>");
   $("#menu").append(a);
   a.addClass("btn btn-primary btn-sm");
   a.attr("href", "javascript:");
   a.append("Continue Later");
   a.click(function() {
     save(alldata, function() {
       $("#menu").empty();
       $("#content").empty();
       $("#content").append("All data has been saved! Please close this browser window.");
     });
   });
   $("#menu").append(" ");
   var a = $("<a>");
   $("#menu").append(a);
   a.addClass("btn btn-primary btn-sm");
   a.attr("href", "javascript:");
   a.append("Submit");
   a.click(function() {
     if (!portfolio.submitted) {
       portfolio.submitted = [];
     }
     portfolio.submitted.push(Date.now());
     save(alldata, function() {
       $("#menu").empty();
       $("#content").empty();
       $("#content").append("Thank you for your submission! Please close this browser window.");
     });
   });
   
   var template = origtemplate;
   if (idx < 0) {
     idx = data.length - 1;
   }
   if (idx >= data.length) {
     idx = 0;
   }
   // replace other fields
   for (var i = 0; i < data.length; i++) {
     var entry = data[i];
     var regexp = new RegExp("\{{"+entry.property+"}}", "g");
     template = template.replace(regexp, "<span id='entry"+i+"'></span>");
   }
   $("#output").empty();
   var innerdiv = $("<div>");
   $("#output").append(innerdiv);
   innerdiv.css("padding", "10px");
   innerdiv.append(marked(template, {breaks:true}));
   for (var idx = 0; idx < data.length; idx++) {
     (function(idx) {
       $("#entry"+idx).empty();
       
       if (!data[idx].usefileupload) {
         var input = data[idx].usetextarea ? $("<textarea>") : $("<input>");
         $("#entry"+idx).append(input);
         input.addClass("form-control");
         input.val(data[idx].value);
         input.keyup(function() {
           data[idx].value = input.val();
           fields[data[idx].property] = input.val();
         });
         input.change(function() {
           data[idx].value = input.val();
           fields[data[idx].property] = input.val();
           save(alldata, function() {});
         });
         // auto resize textarea
         var offset = input[0].offsetHeight - input[0].clientHeight;
         var resizeTextarea = function(el) {
           $(el).css("height", "auto").css("height", el.scrollHeight + offset);
         };
         input.on("keyup input", function() {
           resizeTextarea(this);
         });
         resizeTextarea(input[0]);
       }
       else {
         var status = $("<div>");
         $("#entry"+idx).append(status);
         var showStatus = function() {
           status.empty();
           if (!fields[data[idx].property] || !fields[data[idx].property].name) {
             input.show();
           }
           else {
             var a = $("<a>");
             status.append(a);
             a.append(fields[data[idx].property].name);
             a.attr("href", "files/" + fields[data[idx].property].id + "/" + fields[data[idx].property].name + (!EMAIL ? "" : "?email=" + EMAIL));
             a.attr("target", "_blank");
             status.append(" (");
             var a = $("<a>");
             status.append(a);
             a.append("delete");
             a.attr("href", "javascript:");
             a.css("color", "red");
             status.append(")");
             a.click(function() {
               fields[data[idx].property] = "";
               save(alldata, function() {
                 showStatus();
               });
             });
             input.hide();
           }
         };
         var progress = $("<progress>");
         $("#entry"+idx).append(progress);
         progress.hide();
         var form = $("<form>");
         $("#entry"+idx).append(form);
         form.attr("enctype", "multipart/form-data");
         var input = $("<input>");
         form.append(input);
         input.addClass("form-control");
         input.attr("type", "file");
         input.attr("name", "file");
         input.attr("accept", ".pdf,application/pdf");
         input.change(function() {
           if (input.val()) {
             if (!input.val().toLowerCase().endsWith(".pdf")) {
               alert("Only PDF files are supported!");
               input.val("");
               return;
             }
             $.ajax({
               url: "/fileupload" + (!EMAIL ? "" : "?email=" + EMAIL),
               type: "POST",
               data: new FormData(form[0]),
               cache: false,
               contentType: false,
               processData: false,
               xhr: function() {
                 var myXhr = $.ajaxSettings.xhr();
                 if (myXhr.upload) {
                   progress.show();
                   myXhr.upload.addEventListener("progress", function(e) {
                     if (e.lengthComputable) {
                       progress.attr({
                         value: e.loaded,
                         max: e.total,
                       });
                     }
                   }, false);
                 }
                 return myXhr;
               }
             }).done(function(tmpdata) {
               if (tmpdata.error) {
                 console.log(JSON.stringify(tmpdata.error));
                 alert(JSON.stringify(tmpdata.error));
               }
               else {
                 progress.hide();
                 fields[data[idx].property] = {
                   id: tmpdata.id,
                   name: tmpdata.name
                 };
                 input.val("");
                 save(alldata, function() {
                   showStatus();
                 });
               }
             }).fail(fail);
           }
         });
         showStatus();
       }
     })(idx);
   }
 }
 
 function print(alldata, portfolio, origtemplate, data, fields) {
   $("#header").remove();
   $("#menu").remove();
   $("#hr1").remove();
   $("#hr2").remove();
   $("#content").empty();
   $("#content").append('<div id="buttons"></div><div id="output"></div>');
   
   var template = origtemplate;
   
   // replace other fields
   for (var i = 0; i < data.length; i++) {
     var entry = data[i];
     var regexp = new RegExp("\{{"+entry.property+"}}", "g");
     template = template.replace(regexp, entry.value?entry.value:"");
   }
   $("#output").empty();
   var innerdiv = $("<div>");
   $("#output").append(innerdiv);
   innerdiv.css("padding", "10px");
   innerdiv.append(marked(template, {breaks:true}));
 }
 
 window.onload = function() {
   URLPARAMS = new URLSearchParams(window.location.search);
   EMAIL = URLPARAMS.get("email") || "";
   if (EMAIL) {
     $("#header").append(" (" + EMAIL + ")");
   }
   $.ajax({
     type: "GET",
     url: "/load_data?email=" + EMAIL + "&" + Date.now()
   }).done(function(data) {
     if (data.error) {
       alert(data.error);
     }
     else {
       portfolios(data);
     }
   }).fail(fail);
 }
</script>
